body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*
  background: linear-gradient(135deg, #f8f9fa, #e0e7ff);
  */
   background:linear-gradient(135deg, #6987a4, rgb(13, 16, 23));
   color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myImg img{
  height: 60% !important;
  width: 60%;
  border-radius: 50px;
  border: 2px solid black;
}

@media only screen and (max-width:1700px){
  #homediv{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
  }
}

@media only screen and (max-width:1700px){
  #aboutdiv{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
  }
}

@media only screen and (max-width:1700px){
  extracurricular{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
  }
}

.aboutSec{
  margin: 5%;
}

.contact a{
  text-decoration: none;
  font-size: 30px;
  margin-left: 20px;
}

.skills{
  border-top: 10px solid rgb(85, 127, 190);
  border-right: 10px solid  rgb(85, 127, 190);
  border-left: 10px solid  rgb(85, 127, 190);
  box-shadow: 1px 1px 1px #212224ff, 0 0 1rem #202e33ff; 
  padding: 50px 10px 30px 10px;
  border-radius: 70px 70px 0px 0px;
  margin: 20px;
  background-color: transparent;
  backdrop-filter:blur(100px);
}